<div class="card-container">
  <div class="table-scroll">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Asigned teacher(s)</th>
          <th>No. students</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>English</td>
          <td>Andu</td>
          <td>23</td>
        </tr>
        <tr>
          <td>English</td>
          <td>Andu</td>
          <td>23</td>
        </tr>
        <tr>
          <td>English</td>
          <td>Andu</td>
          <td>23</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
