.inner-page {
  padding: 24px;
}

.page-title {
  color: var(--scris-titluri);
  font: 600 20px/24px "Poppins";
}

.card-container {
  background-color: #fff;
  border-radius: 4px;
  padding: 12px 16px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

.row {
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.top-1 {
  margin-top: 4px;
}

.top-2 {
  margin-top: 8px;
}

.top-3 {
  margin-top: 12px;
}

.top-4 {
  margin-top: 16px;
}

.top-5 {
  margin-top: 20px;
}

.top-6 {
  margin-top: 24px;
}
